{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-lg-9">
        <h2 class="my-4">Add new song</h2>
        <div class="row my-4">
            <div class="col-12 my-1">
                <div class="card">
                    <div class="card-body h-25">
                        <div class="alert alert-info">
                            You will submit your song for review
                        </div>
                        <form method="post" action="{{ path('sign_in') }}">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="artist">Artist</label>
                                <select name="artist" id="artist" class="form-control">
                                    <option disabled selected>-- Select artist --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="genre">Genre</label>
                                <select name="genre" id="genre" class="form-control">
                                    <option disabled selected>-- Select genre --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="chords">Chords</label>
                                <textarea name="chords" class="form-control" id="chords" cols="30" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}