{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-lg-9">
        <h2 class="my-4">New songs today</h2>
        <div class="row my-4">
            {% if songs is empty %}
                <div class="col-12 my-1">
                    <div class="card">
                        <div class="card-body h-25">
                            We haven't added any songs today
                        </div>
                    </div>
                </div>
            {% else %}
                {% for song in songs %}
                <div class="col-12 my-1">
                    <div class="card">
                        <div class="card-body h-25">
                            <h5 class="card-title f-s-">
                                <a href="#">{{ song.artistName }}</a> - <a href="#">{{ song.songTitle }}</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">{{ song.createdAt.format('Y/m/d') }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}